<div id="RDB">
  <div class="page-wrapper">
    <div class="main">
      <div class="main-inner">
        <div class="container">
          <div class="content">
            <!-- Header -->
            <div class="document-title">
              <h1 id="home"><a href="/">YURA Research Database</a></h1>
            </div>
            <!-- /.document-title -->
            <div>
              <form id="filter" class="filter" method="get" action="/listings">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                      <input type="text" name="search" placeholder="Search" value="{{searchPlaceholder}}" class="form-control">
                    </div>
                    <!-- /.form-group -->
                  </div>
                  <!-- /.col-* -->

                  <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                      <select name="departments" class="form-control" title="Select Category">
                                              <option value="{{deptPlaceholder}}">{{deptPlaceholder}}</option>
                                              <optgroup label="Sciences">
                                                {{#each depts.sciences}}
                                                <option value='{{this}}'>{{this}}</option>
                                                {{/each}}
                                              </optgroup>
                                              <optgroup label="Mathematics and Engineering">
                                                {{#each depts.math_engineering}}
                                                <option value='{{this}}'>{{this}}</option>
                                                {{/each}}
                                              </optgroup>
                                              <optgroup label="Social Sciences">
                                                {{#each depts.social_sciences}}
                                                <option value='{{this}}'>{{this}}</option>
                                                {{/each}}
                                            </optgroup>
                                              <optgroup label="Humanities">
                                                {{#each depts.humanities}}
                                                <option value='{{this}}'>{{this}}</option>
                                                {{/each}}
                                              </optgroup>
                                              <optgroup label="Languages and Cultures">
                                                {{#each depts.languages_cultures}}
                                                <option value='{{this}}'>{{this}}</option>
                                                {{/each}}
                                              </optgroup>
                                              <optgroup label="Arts and Design">
                                                {{#each depts.arts_design}}
                                                <option value='{{this}}'>{{this}}</option>
                                                {{/each}}
                                              </optgroup>
                                              <optgroup label="Graduate and Professional Schools">
                                                {{#each depts.graduate_professional_schools}}
                                                <option value='{{this}}'>{{this}}</option>
                                                {{/each}}
                                              </optgroup>
                                            </select>
                    </div>
                    <!-- /.form-group -->
                  </div>
                  <!-- /.col-*
                                    <div class="col-sm-1">
                                        <button type="submit" class="btn btn-primary pull-right">Search</button>
                                    </div>-->
                </div>
                <!-- /.row -->

                <hr>

                <div class="row">
                  <div class="col-sm-4">
                    <div class="filter-actions">
                      <a id="reset-button-id" href="/listings"><i class="fa fa-close"></i> Reset Search</a>
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <button type="submit" name="sort" id="sortDept" class="sort btn pull-right" value="dept">Sort by Dept</button>
                    <button type="submit" name="sort" id="sortName" class="sort btn pull-right" value="name">Sort by Name</button>
                  </div>
                  <!-- /.col-* -->
                </div>
                <!-- /.row -->
              </form>
              <!-- Listing items -->
              <h2 class="page-title">
                {{numberOfResults}} results matching your query
              </h2><!-- /.page-title -->

              <div>
                <ul class="list">
                  {{#each listings}}
                    <li>
                      <div class="card-row">
                        <div class="card-row-inner">
                          <div class="card-row-body">
                            <h2 class="card-row-title"><a href='{{this.website}}' target="_blank">{{this.name}}</a></h2>
                            <div class="card-row-content truncateme description">
                              <article>{{this.description}}</article>
                            </div>
                            <!-- /.card-row-content -->
                          </div>
                          <!-- /.card-row-body -->

                          <div class="card-row-properties">
                            <dl>
                              <dd>Department(s)</dd><dt><span>{{split-depts this.departments}}</span></dt>
                              <dd>Email</dd><dt><a href='mailto:{{this.email}}' target="_blank">{{this.email}}</a></dt>
                              <dd></dd><dt><a href = '{{this.website}}' target="_blank"> Go to website <i class="fa fa-chevron-right headout-chev"></i></a></dt>
                            </dl>
                            <dl>
                              </br>
                              {{#if isfavorite}}
                                <form action="/listings/removeFavorite/{{this.list_id}}" method="POST">
                                  <input type="submit" value="Remove From Favorites" class="form-control">
                                </form>
                              {{else}}
                              <form action="/listings/addFavorite/{{this.list_id}}" method="POST">
                                <input type="submit" value="Add To Favorites" class="form-control">
                              </form>
                              {{/if}}
                            </dl>
                          </div>
                          <!-- /.card-row-properties -->
                        </div>
                        <!-- /.card-row-inner -->
                      </div>
                      <!-- /.card-row -->
                    </li>
                  {{/each}}
                </ul>
              </div>
              <!-- /.hr -->

              <!-- Pagination buttons -->
              <div class="pager" id="pagination-nav">
                {{#paginate pagination type="previous" }}
                  <span id="prev" {{#if disabled}} class="disabled" {{/if}}>
                                        <a href="?p={{n}}">
                                          <i class="fa fa-chevron-left"></i>
                                        </a>
                                    </span>
                {{/paginate}}
                <ul class="pagination">
                  {{#paginate pagination type="middle" limit="7" }}
                    <li {{#if active}} class="active" {{/if}}><a href="?p={{n}}">{{n}}</a></li>
                  {{/paginate}}
                </ul>
                {{#paginate pagination type="next" }}
                  <span id="next" {{#if disabled}} class="disabled" {{/if}}>
                                      <a href="?p={{n}}">
                                        <i class="fa fa-chevron-right"></i>
                                      </a>
                                    </span>
                {{/paginate}}
              </div>

              <br/>
              <div class="block background-secondary fullwidth fullwidthMD" id="response-block">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="contact-info-wrapper">
                      <div class="contact-head">
                        <h2>Got questions? Thoughts?</h2>
                      </div>

                      <div class="contact-info">
                        <span class="contact-info-item">
                                                    <a href="/feedback" target="_self">
                                                        <i class="fa fa-paper-plane-o"></i>
                                                        <span style="color:#fff">Send feedback</span>
                        </a>
                        </span>

                        <span class="contact-info-item">
                                                  <a href="mailto:yura.database@gmail.com" target="_blank">
                                                        <i class="fa fa-at"></i>
                                                        <span style="color:#fff">yura@yale.edu</span>
                        </a>
                        </span>
                        <!-- /.contact-info-item -->

                        <span class="contact-info-item">
                                                    <a href="https://www.facebook.com/yaleundergradresearch/" target="_blank">
                                                        <i class="fa fa-facebook"></i>
                                                        <span style="color:#fff">Facebook</span>
                        </a>
                        </span>
                        <!-- /.contact-info-item -->
                      </div>
                      <!-- /.contact-info-->
                    </div>
                    <!-- /.contact-info-wrapper -->
                  </div>
                  <!-- /.col-* -->
                </div>
                <!-- /.row -->
              </div>
            </div>
            <!--rdbcontent-->
          </div>
          <!-- /.content -->
        </div>
        <!-- /.container -->
      </div>
      <!-- /.main-inner -->
    </div>
    <!-- /.main -->
